@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
html {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  display: grid;
  place-items: center;
  font-family: "Libre Franklin", sans-serif;
}
body .container {
  display: grid;
  place-items: center;
  max-width: 20rem;
}
@media screen and (min-width: 1024px) {
  body .container {
    max-width: 40rem;
    margin-top: 8%;
  }
}

header {
  text-align: center;
}
header .header-logo {
  display: block;
  width: 3.5rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 1024px) {
  header .header-logo {
    width: 5.625rem;
  }
}
header h1 {
  font-weight: 300;
  font-size: 1.5rem;
  color: hsl(0deg, 0%, 59%);
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  header h1 {
    font-size: 3rem;
  }
}
header .bold {
  font-weight: 700;
  color: hsl(209deg, 33%, 12%);
}
header p {
  color: hsl(209deg, 33%, 12%);
  font-size: 0.795rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  header p {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  form {
    justify-content: center;
  }
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  width: 17.875rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4.575rem;
}
@media screen and (min-width: 1024px) {
  fieldset {
    flex-direction: row;
    width: 40rem;
    justify-content: center;
  }
}
fieldset .visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.063rem;
}
@media screen and (min-width: 1024px) {
  fieldset .desktop {
    width: 27.813rem;
    margin-right: 1.25rem;
  }
}
fieldset input,
fieldset button {
  border-radius: 30px;
  padding: 0.625rem;
  width: 17.875;
  max-width: 100%;
}
@media screen and (min-width: 1024px) {
  fieldset input,
fieldset button {
    padding: 1rem;
  }
}
fieldset input {
  color: hsl(223deg, 100%, 88%);
  border: 1px solid hsl(223deg, 100%, 88%);
  padding-left: 2rem;
  outline: none;
  width: 17.875rem;
}
@media screen and (min-width: 1024px) {
  fieldset input {
    width: 100%;
  }
}
fieldset input::-moz-placeholder {
  color: hsl(0deg, 0%, 59%);
  opacity: 0.3;
}
fieldset input:-ms-input-placeholder {
  color: hsl(0deg, 0%, 59%);
  opacity: 0.3;
}
fieldset input::placeholder {
  color: hsl(0deg, 0%, 59%);
  opacity: 0.3;
}
fieldset input.error {
  border-color: hsl(354deg, 100%, 66%);
}
fieldset input.error::-moz-placeholder {
  color: hsl(354deg, 100%, 66%);
}
fieldset input.error:-ms-input-placeholder {
  color: hsl(354deg, 100%, 66%);
}
fieldset input.error::placeholder {
  color: hsl(354deg, 100%, 66%);
}
fieldset .error_message {
  color: hsl(354deg, 100%, 66%);
  font-size: 0.625rem;
  margin-bottom: 0.75rem;
  font-style: italic;
  display: none;
}
@media screen and (min-width: 1024px) {
  fieldset .error_message {
    text-align: left;
    width: 23.125rem;
    margin-left: -0.5rem;
  }
}
fieldset button {
  margin-top: 0.75rem;
  font-size: 0.75rem;
  color: white;
  background-color: hsl(223deg, 87%, 63%);
  border: 1px solid hsl(223deg, 87%, 63%);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
}
fieldset button:hover {
  opacity: 0.8;
}
@media screen and (min-width: 1024px) {
  fieldset button {
    flex-shrink: 0;
    align-self: baseline;
    width: 10rem;
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .dashboard {
    width: 100%;
    margin: 0 auto;
  }
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.625rem;
  margin-bottom: 1.425rem;
}
.social-media a {
  border: 1px solid hsl(223deg, 100%, 88%);
  border-radius: 50%;
  height: 1.75rem;
  width: 1.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: hsl(223deg, 87%, 63%);
}
.social-media a:hover {
  background-color: hsl(223deg, 87%, 63%);
  border-color: hsl(223deg, 87%, 63%);
  color: white;
}

footer {
  margin-top: 8%;
  text-align: center;
  color: hsl(0deg, 0%, 59%);
}
footer .copyright {
  font-size: 0.625rem;
}
footer .attribution a {
  color: hsl(223deg, 87%, 63%);
}/*# sourceMappingURL=style.css.map */